<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
			<br />
			<br />
			<%= image_tag("todolist.png", alt: "todolist") %>
			<hr>
			<% if @lists.any? %>
			<ul class="collection">
				<% @lists.each do |list| %>
				<li class="collection-item avatar">
					<i class="material-icons circle green">insert_chart</i>
					<h3 class="title"><%= link_to "#{list.name}", list_path(list) %></h3>
						<%= button_to 'Edit List', edit_list_path(list), class: "btn waves-effect waves-light", method: :get %>
						<br />
						<%= button_to "Delete", list_path(list), class: "btn waves-effect waves-light", method: :delete, data: {confirm: 'Do you really want to delete this list?'} %>
				</li>
				<% end %>
			</ul>
			<% else %>
				<h3>No lists to show</h3>
			<% end %>
			<hr />
			<%= link_to 'New List', new_list_path, class: "btn waves-effect waves-light" %>
		</div>
	</div>
</div>
